.app__root {
	text-align: center;
	color: dimgray;
	min-height: 500px;
}
.app__icon {
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	margin-top: 30px;
	color: dimgray;
}
.app__logout {
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
	margin-left: 50px;
	vertical-align: middle;
}
button:disabled {
	color: #ccc;
	cursor: none;
}
h1 {
	display: inline-block;
}

.toolbar {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	padding: 20px 0;
}

.footer {
	background-color: #3f51b5;
	color: #fff;
	padding: 5px 0px;
	margin: 0;
	font-size: 14px;
}
